<nav class="app-sidebar" [class.collapsed]="collapsed">
  <ul>
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.path" routerLinkActive="active">
        <i [class]="item.icon"></i>
        <span *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </li>

    <!-- Seção de Administração -->
    <li class="menu-divider" *ngIf="!collapsed && authService.isAdmin()">
      <span>Administração</span>
    </li>

    <ng-container *ngIf="authService.isAdmin()">
      <li *ngFor="let item of adminItems">
        <a [routerLink]="item.path" routerLinkActive="active">
          <i [class]="item.icon"></i>
          <span *ngIf="!collapsed">{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
